name: Generate Demo Patients

on:
  workflow_dispatch:
  push:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      SIMULATION_PRESET: dev
      TIER_DURATION_MINUTES: 1
      USER_INCREMENT_PER_TIER: 1
      TIER_COUNT: 1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Delete existing dump
        working-directory: src/test/resources
        run: |
          rm dump/dump.sql

      - name: Start an OpenMRS instance
        run: docker compose -f src/test/resources/docker-compose.yml -f src/test/resources/docker-compose-no-dump.yml up -d

      - name: Wait for the OpenMRS instance to start
        run: while [[ "$(echo $(curl -s -o /dev/null -w '%{http_code}' http://localhost/openmrs/login.htm))" != "200" ]]; do echo "$(curl -i http://localhost:8080/openmrs/login.htm)"; sleep 10; done

      - name: Set the demo patient count
        working-directory: src/test/resources
        run: |
          chmod +x set_demo_patient_count.sh
          ./set_demo_patient_count.sh

      - name: Restart the OpenMRS instance
        run: docker compose -f src/test/resources/docker-compose.yml restart

      - name: Wait for the OpenMRS instance to start and patients to be generated
        run: while [[ "$(echo $(curl -s -o /dev/null -w '%{http_code}' http://localhost/openmrs/health/started))" != "200" ]]; do echo "$(curl -i http://localhost/openmrs/health/started)"; sleep 10; done

      - name: Export a DB dump
        working-directory: src/test/resources
        run: |
          chmod +x export_db_dump.sh
          ./export_db_dump.sh

      - name: Export Patient UUIDs
        working-directory: src/test/resources
        run: |
          chmod +x export_patient_uuids.sh
          ./export_patient_uuids.sh 

      - name: Stop the OpenMRS instance
        if: '!cancelled()'
        run: docker stop $(docker ps -a -q)

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: target/gatling
          retention-days: 30

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.OMRS_BOT_GH_TOKEN }}
          commit-message: "Regenerate demo patients"
          title: "Regenerate Demo Patients"
          author: 'OpenMRS Bot <infrastructure@openmrs.org>'
          committer: 'OpenMRS Bot <infrastructure@openmrs.org>'
          body: |
            This PR was automatically generated by the **Generate Demo Patients** workflow.
            It includes updated demo patient DB dump and patient UUIDs.

          branch: chore/regen-demo-patients
          base: main
          delete-branch: true
          labels: |
            automated
            demo-patients
          add-paths: |
            src/test/resources/dump/**
            src/test/resources/patient_uuids.csv

      - name: Capture Server Logs
        if: always()
        uses: jwalton/gh-docker-logs@v2
        with:
          dest: './logs'

      - name: Upload Logs as Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: server-logs
          path: './logs'
          retention-days: 2
          overwrite: true
